---
layout: archive
title: Destinations
banner-image: images/bgairplane.jpeg
---


<!--Main Text and Image-->
<section class="grid tips-body">
  <div class="grid col-9">
    <div class="col-4 article-image-tips"></div>
    <div class="col-8 content-text">
      <h2> Text 1 </h2>
      <h3> Author</h3>
      <h4> Date </h4>

      <p>
      {{%post.intro %}}

      {{% end for %}}
    </p>

    </div>
    <div class="col-8 content-text">
      <h2>Text 2</h2>
      <h3>Author</h3>
      <h4> Date</h4>
      <p>I could be pensive, uhh... smart, supersticious, brave? And I, uhh, I can be light on my feet. If I drive for you, you get your money. I wrote you 365 letters. I relate to these characters because aspects of their personality are like me. If I drive for you, you give me a time and a place, I give you a five minute window. I could be whatever you want. Then, telling Derek Cianfrance that I'd ever I could rob a bank I'd do it on my motorcycle, and he said 'That's weird, I just wrote a script about that'. In most movies you spend so much time looking for any scraps of truth, and in this movie you're just marinating in it.
      </P>
     </div>
    <div class="col-4 article-image2"></div>
  </div>

  <div class="col-3 sidenav">
    {% include sitesidebar.html %}
  </div>

</section>

  <!--Repeatable Quote or Tip-->

  <!--Repeatable Footer-->


  <!--Repeatable Header-->
<!--
  <section class="grid destination-body">
    <div class="grid col-9">

      {% for post in site.posts limit:6 %}
      <div class="col-6">
        <img src="{{post.banner-image}}">
      </div>

      <div class="col-6 content-text">
        <h2> <a href= "{{post.url}}"> {{post.title}} </a></h2>
        <h3> {{post.author}} </h3>
        <h4> {{post.date}} </h4>
      </div>

      {% endfor %}
      </div>

    <div class="col-3 sidenav">
      {% include sitesidebar.html %}
    </div>

  </section> -->
