---
layout: default
title: Destinations
banner_image: /images/archiveheader.jpg
---

  <!--this folder was previously destinations-->

  <section class="grid destination-body ">
    <div class="grid col-9">

      {% for post in paginator.posts %}
        <div class="col-6">
          <img src="{{post.banner_image}}">
        </div>

        <div class="col-6 content-text">
          <h2> <a href="{{post.url}}"> {{post.title}} </a></h2>
          <h4> {{ post.author }} </h4>
          <h4> {{ post.date | date_to_string }} </h4>
          <p> {{ post.post-intro }} </p>
        </div>

      {% endfor %}

      {% if paginator.total_pages > 1 %}
        <div class="centered">

          {% if paginator.previous_page %}
          <div class="button previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">previous</a>
          </div>
          {% endif %}

          {% if paginator.next_page %}
          <div class="button next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">next</a>
          </div>
          {% endif %}
        </div>
      {% endif %}


    </div>

    <div class="col-3 sidenav data-sticky-container sticky-wrapper" data-sticky-container>
      {% include sitesidebar.html %}
    </div>

  </section>
