<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CarryOns & Coffee</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Dancing+Script:400,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/gridlex.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body>
      <!--include at top of all pages-->
      {% include siteheader.html %}

      {% include sitesocial.html %}

      {{content}}

      <!--Repeatable Quote or Tip-->
      {% include sitequote.html %}

      <!--Instagram pics will go here-->
      {% include siteinstagram.html %}

      <!--Repeatable Footer-->
      {% include sitefooter.html %}
  </body>
</html>
