---
layout: default
title: Title
permalink: /:year/:month/:everyday
banner-image: images/bgairplane.jpeg
image_path: 
---

<section class="grid destination-body">

  <div class="grid col-9">

      <div class="col-6" {{page.article-image}}>
        <img src="{{post.image_path}}">
      </div>

      <div class="col-6 content-text">
        <h2> {{page.title}} </h2>
        <h3> {{page.author}} </h3>
        <h4> {{page.date}} </h4>

        {{content}}

      </div>

  </div>

  <div class="col-3 sidenav">
    {% include sitesidebar.html %}
  </div>

</section>
