---
layout: default
title: Title
permalink: /:year/:month/:everyday
banner-image: images/bgairplane.jpeg

---

<section class="grid destination-body">

  <div class="grid col-8 content-text">

      <!-- <div class="col-6" {{page.article-image}}>
        <img src="{{page.banner-image}}">
      </div> -->

        <h2> {{page.title}} </h2>
        <h3> {{page.author}} </h3>
        <h4> {{page.date}} </h4>

        {{content}}

  </div>

  <div class="col-1"></div>
  <div class="col-3 sidenav">
    {% include sitesidebar.html %}
  </div>

</section>
