*{
  padding:0;
  margin: 0;
  color: rgb(49,34,30)
}

header {
  height:100vh;
}

h1{
  font-size: 10vh;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  height:15vh;
  padding: 20%;
}

h2,h3,ul{
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
  margin-bottom: 2%;
}

h4{
  margin-bottom: 2%;
  color: rgb(147,221,223);
}

p,li{
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 2%;
}

a{
  font-family: 'Cormorant Garamond', serif;
  color: rgb(147,221,223);
  background-color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgb(147,221,223);
  border-radius: 4px;
  padding: 3px;
}

.banner{
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

nav {
  position: absolute;
}

nav a {
  text-align: center;
  font-weight:700;
  padding: 2% 5%;
  bottom: 5px;
}


/*--Need to align right--*/
.social{
  background-color: white;
  right: 5px;
}

.sidenav{
  padding-left: 5%;
  border-left: 2px solid rgb(49,34,30);
}

.instagram{
  background-color: rgb(147,221,223);
  border: 1px solid rgb(49,34,30)
}

section{

}

.profile-image{
  background-image: url(/images/carryonsandcoffeeprofilepic.jpg);
  background-size: cover;
  text-align: right;
}

.map-image{
  background-image:url(/images/profilemappic.jpg);
  background-size: cover;
}

.destination-image-main{
  background-image: url(/images/cabanaworkstation.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
}

.article-image{
  background-image: url(https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1511846713000/photosp/18f81702-ce8e-4f81-a415-ac86b7945f25/stock-photo-nobody-view-from-above-brown-food-indoors-wood-love-plate-drink-18f81702-ce8e-4f81-a415-ac86b7945f25.jpg);
  background-position: center;
  background-style: cover;
}

.article-image-tips{
  background-image: url(/images/luggageblack.jpeg);
  background-size: cover;
  background-position: center;
}

.article-image2{
  background-image: url(/images/coffeebalance.jpg);
  background-size: cover;
}

.index-body{
  padding: 5%;
}

.content-text{
  padding: 5%;
}

.destination-body{
  padding:5%;
}

.tips-body{
  padding: 5%;
}

.quote{
  text-align: center;
}

footer{
  background-color: rgb(147,221,223);
  background-size: cover;
  color:white;
}

form{
  text-align: center;
  padding:2%;
}

.formbutton {
  padding:5%;
  border: 1px solid rgb(49,34,30);
  border-radius: 4px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2vh;
}

.submit{
  padding:5%;
  border: 1px solid rgb(49,34,30);
  border-radius: 4px;
  font-family: 'Cormorant Garamond', serif;
}
